div.header {
    background-image: linear-gradient(to bottom,darkcyan 0,DarkTurquoise 100%) !important;
    color: white;
    width: 120%;
    margin-left: -5%;
    padding-left: 3%;
    height: 60px;
    font-size: 30px;
    padding-top:10px;
}

div.contact-info > span {
    position: relative;
    float:left;
    font-size:11pt;
    margin-left: 20px;
}

div.contact-info > span > a {
    text-decoration: none;
    color:black;
}

div.fb-page {
    text-align: center;
    width:100%;
    margin-top:30px;
}