div.header {
    background-image: linear-gradient(to bottom,darkcyan 0,DarkTurquoise 100%) !important;
    color: white;
    width: 120%;
    margin-left: -3%;
    padding-left: 3%;
    height: 60px;
    font-size: 30px;
    padding-top:10px;
}

div.side-panel {
    background-image: linear-gradient(to bottom,darkcyan 0,DarkTurquoise 100%) !important;
    color: white;
    text-align: left;
    margin-top:10%;
    height: 400px;
    opacity: .6;
    border-radius: 20px;
}

div.side-panel > span {
    margin-left:7px;
    font-size:14pt;
}

div.side-panel > span > a {
    text-decoration: none;
    color:white;
}

div.side-panel > span.glyphicon {
    font-size: 16pt;
}

div.fb-page {
    text-align: center;
    width:100%;
    margin-top:30px;
}