div#background {
    position: fixed;
    width: 130%;
    height: 1300%;
    margin-left: 20%;
    margin-top: -45%;
    background-image: url(../images/pinwheel.png);
    opacity: .15;
    z-index: -10;
}

#pinwheel {
    height: auto;
    width: 100%;
    max-height: 500px;
    margin-left: 0%;
    margin-top: -400px;
}

.photo-container {
    text-align: center;
}

#pic {
    height: auto;
    max-width: 100%;
    max-height: 300px;
    margin-top: 25%;
    margin-left: 0%;
}

.bio-container {
    text-align: center;
    margin-top: 5%;
    padding-top: 1%;
    font-family: 'Varela Round', sans-serif;
    font-size: 12pt;
    color: darkslategray;
    font-weight: bold;
}

#bio {
    text-align: left;
    padding: 20px;
}

.education-container {
    margin-top: 5%;
    padding-top: 1%;
    font-family: 'Varela Round', sans-serif;
    color: white;
    min-height: 100px;
}

hr {
    border-top: 3px double #8c8b8b;
}

.training-container {
    margin-top: 5%;
    padding-top: 1%;
    font-family: 'Varela Round', sans-serif;
    color: white;
}

.memberships-container {
    margin-top: 5%;
    padding-top: 1%;
    font-family: 'Varela Round', sans-serif;
    color: white;
}

.info-header {
    text-align: center;
    font-family: 'Lexend Exa', sans-serif;
    color: white;
    width: 120%;
    margin-left: -20%;
    /*opacity*/
    background-image: linear-gradient(to bottom,darkcyan 0,DarkTurquoise 100%) !important; /* override background image gradient w/ flat color */
}

.info-container {
    color: darkslategray;
}

    .info-container ul {
        min-height: 170px;
        font-size: 12pt;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
